@import "../../../styles/modules/_all";
@import "../../../../node_modules/react-virtualized/styles.css";

.blotter {
  flex: 1;
  width: 100%;
  color: $primary-white;

  &-table {

    &-header {
      background-color: $primary-dark-blue2;
      font-size: $font-xs-1;
      font-weight: $font-regular;
    }

    &-body {
      &:focus {
        outline-color: transparent;
      }

      &-row {
        &-odd {
          font-size: $font-s-3;
          font-weight: $font-light;
          background-color: $primary-dark-blue2;
        }

        &-even {
          font-size: $font-s-3;
          font-weight: $font-light;
        }
      }
    }

    .bold-cell {
      font-weight: $font-medium;
    }

    /* scrollbar */
    ::-webkit-scrollbar {
      background-color: $primary-dark-blue;
      width: 6px;
    }

    ::-webkit-scrollbar-button {
      background-color: $secondary-dark-blue2;
    }

    ::-webkit-scrollbar-thumb {
      background-color: $secondary-blue;
    }

  }
}
