@import "../../../styles/modules/_all";

.routes-pair {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 30px;
  color: $primary-white;
  font-weight: $font-regular;
  font-size: $font-xl-2;

  &-tile {
    display: flex;
    flex-direction: column;
    width: 228px;
    height: 218px;
    align-self: center;
  }

  &-blotter {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 30px;
  }
}
