@import "../../styles/modules/_all";

.price-ticker {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  text-align: center;

  &-loading {
    font-size: $font-s-3;
    text-align: center;
  }

  &-stacked {
    flex-direction: column;
  }

  &-main {
    display: flex;
    font-weight: $font-light;
    font-size: $font-xl-2;
    justify-content: flex-start;
    line-height: 0.85;
  }

  &-start {
    display: flex;
    font-size: $font-xs-2;
    &-stacked {
      align-self: center;
      padding-right: $font-xs-1;
    }
  }

  &-main-pip-delta {
    display: flex;
    flex-direction: row;
  }

  &-pip-delta {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;

  }

  &-delta {
    height: $font-xs-3;
    font-size: $font-xs-3;
  }

  &-pip {
    display: flex;
    font-size: $font-xs-1;
  }
}

