@import "../../styles/modules/_all";

.tile-grid {
  margin-right: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  background-color: $primary-dark-blue;
  width: 708px;

  &-tile {
    display: flex;
    flex-direction: column;
    width: 228px;
    height: 218px;
    margin-top: 12px;
    background-color: $primary-dark-blue2;
  }
}
