@import "../../styles/modules/_all";

.header {
  display: flex;
  justify-content: space-between;
  margin: 6px 0;

  &-logo {
    color: $primary-white;
    font-weight: $font-regular;
    font-size: $font-m-4;
    padding-right: 8px;
  }

  &-title-container {
    position: relative;
  }

  &-title {
    position: absolute;
    bottom: 6px;
    color: $primary-white;
    font-weight: $font-regular;
    font-size: $font-m-4;
  }

  &-account {
    color: $primary-blue;
    display: flex;
    font-size: $font-s-2;
    font-weight: $font-light;

    &-settings,
    &-username,
    &-dropdown {
      align-items: center;
      display: flex;
    }

    &-username {
      margin-left: 15px;
      margin-right: 6px;
    }

    &-dropdown {
      padding: 0 6px;
    }
  }
}
