@import "../../styles/modules/all";
@import "../../../node_modules/react-virtualized/styles.css";

.blotter {
  flex: 1;
  width: 100%;
  color: $primary-white;
}

.blotter-table {
  .blotter-header-row {
    background-color: $primary-dark-blue2;
    font-size: $font-xs-1;
    font-weight: $font-regular;
  }

  .blotter-odd-row {
    background-color: $primary-dark-blue2;
    font-size: $font-s-3;
    font-weight: $font-light;
  }

  .blotter-even-row {
    font-size: $font-s-3;
    font-weight: $font-light;
  }

  .bold-cell {
    font-weight: $font-medium;
  }

  /* scrollbar */
  ::-webkit-scrollbar {
    background-color: $primary-dark-blue;
    width: 6px;
  }

  ::-webkit-scrollbar-button {
    background-color: $secondary-dark-blue2;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $secondary-blue;
  }

}
