@import "../../styles/modules/_all";

.confirmation {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 15px 30px 21px;
  text-align: center;
  font-size: $font-s-3;
  font-weight: $font-light;

  &-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;

  }

  &-button {
    border-radius: 3px;
    border-width: 1px;
    padding: 0;
    background-color: $secondary-dark-blue;
    border-color: $primary-light-blue;
    color: $primary-white;
    font-weight: $font-regular;
    font-size: $font-xs-1;
    width: 76px;
    height: 24px;
  }

  &-countdown {
    position: absolute;
    left: 0;
    right: 0;
    top: 12px;
    font-size: $font-m-4;
  }

  &-spinner {
    border-top: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #ffffff;
    transform: translateZ(0);
    animation: spin 1s infinite linear;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

  &-spinner-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 10px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
