@import "../../styles/modules/_all";

.pair {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 15px 30px 21px;

  &-selected,
  &-selectable:hover {
    background-color: rgba($primary-light-blue, 0.15);
  }

  &-selectable {
    cursor: pointer;
  }

  &-dropdown {
    text-align: center;
    font-weight: $font-regular;
    font-size: $font-s-3;
    color: $primary-light-blue;

    span {
      padding: 0 4px;
    }
  }

  &-price-tickers {
    margin: 15px 0;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
  }

  &-purchase-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;

  }

  &-purchase-button {
    border-radius: 3px;
    border-width: 1px;
    padding: 0;
    background-color: $secondary-dark-blue;
    border-color: $primary-light-blue;
    color: $primary-white;
    font-weight: $font-regular;
    font-size: $font-xs-1;
    width: 76px;
    height: 24px;
  }

  &-quantity {
    display: flex;
    height: 21px;

    &-value,
    &-label {
      background-color: inherit;
      border-radius: 3px;
      font-weight: $font-light;
      font-size: $font-xs-1;
      border-width: 1px;
      border-style: solid;
      border-color: $primary-white;
    }

    &-value {
      color: $primary-white;
      padding: 1px 5px;
      margin-right: -1px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      overflow: hidden;
    }

    &-label {
      color: $primary-blue;
      padding: 2px 4px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
