$primary-dark-blue:  #010517;
$primary-dark-blue2:  #0a1629;
$secondary-dark-blue:  #101f33;
$secondary-dark-blue2:  #213c51;

$primary-blue: #62abc4;
$secondary-blue: #42748a;

$primary-light-blue: #82e2fd;
$secondary-light-blue: #e0f7fe;

$primary-white: #ffffff;

$tertiary-red: #ff5460;
$tertiary-green: #41dc65;
